.Palette {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.Palette__colors {
    height: 85%;
}
.Palette__footer {
    background-color: white;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.Palette__footer--copyright {
    margin: 1rem;
    text-decoration: none;
}
.Palette__footer--copyright a {
    text-decoration: none;
}

.emoji {
    margin: 0.7rem;
}
