/* .Palette {
    height: 100vh;
    display: flex;
    flex-direction: column;
} */
/* .Palette__colors {
    height: 85%;
} */
/* .Palette__footer {
    background-color: white;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
} */
/* .Palette__footer--copyright {
    margin: 0 1rem;
    text-decoration: none;
}
.Palette__footer--link {
    text-decoration: none;
    margin: 0 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s;
}
.Palette__footer--link:hover,
.Palette__footer--link:active {
    background-color: #ffed58;
    box-shadow: 0 1rem 2rem rgba(#000, 0.4);
    transform: rotate(-5deg) scale(1.3) translate(1rem);
}

.emoji {
    margin: 0.7rem;
} */
